# Coding Test

In [12]:
import pandas as pd
import numpy as np

In [13]:
#3. Extract `coldesc` from the json payload sample and convert its value to a Pandas DataFrame.

json_payload = {
	"rowset":	{
		"osname":	"NCOMS",
		"dbname":	"alerts",
		"tblname":	"status",
		"coldesc":	[{
				"name": "Identifier",
				"type": "string",
				"size": 255
			}, {
				"name": "Serial",
				"type": "integer",
				"size": 4
			}, {
				"name": "Node",
				"type": "string",
				"size": 64
			}, {
				"name": "NodeAlias",
				"type": "string",
				"size": 64
			}, {
				"name": "AlertKey",
				"type": "string",
				"size": 255
			}, {
				"name": "Severity",
				"type": "integer",
				"size": 4
			}, {
				"name": "Summary",
				"type": "string",
				"size": 255
			}, {
				"name": "StateChange",
				"type": "utc",
				"size": 4
			}, {
				"name": "FirstOccurrence",
				"type": "utc",
				"size": 4
			}, {
				"name": "LastOccurrence",
				"type": "utc",
				"size": 4
			}, {
				"name": "RowSerial",
				"type": "integer",
				"size": 4
			}],
		"rows":		[{
				"Identifier": "Startup@sol9-build1",
				"Serial": 12469,
				"Node": "sol9-build1",
				"NodeAlias": "",
				"AlertKey": "",
				"Severity": 0,
				"Summary": "ObjectServer NCOMS on sol9-build1 started at Wed Jul 04 15:27:57 2012",
				"StateChange": 1341412082,
				"FirstOccurrence": 1341411978,
				"LastOccurrence": 1341412077,
				"RowSerial": 12469
			}, {
				"Identifier": "ProfilerEnableToggle@NCOMS:sol9-build1",
				"Serial": 12468,
				"Node": "sol9-build1",
				"NodeAlias": "",
				"AlertKey": "",
				"Severity": 0,
				"Summary": "ObjectServer NCOMS Profiler enabled at Wed Jul 04 15:27:56 2012",
				"StateChange": 1341412077,
				"FirstOccurrence": 1341411976,
				"LastOccurrence": 1341412076,
				"RowSerial": 12468
			}, {
				"Identifier": "Shutdown@sol9-build1",
				"RowSerial": 12519
			}],
		"affectedRows": 13
	}
}

In [14]:
json_payload.keys()

dict_keys(['rowset'])

In [15]:
json_payload['rowset']

{'osname': 'NCOMS',
 'dbname': 'alerts',
 'tblname': 'status',
 'coldesc': [{'name': 'Identifier', 'type': 'string', 'size': 255},
  {'name': 'Serial', 'type': 'integer', 'size': 4},
  {'name': 'Node', 'type': 'string', 'size': 64},
  {'name': 'NodeAlias', 'type': 'string', 'size': 64},
  {'name': 'AlertKey', 'type': 'string', 'size': 255},
  {'name': 'Severity', 'type': 'integer', 'size': 4},
  {'name': 'Summary', 'type': 'string', 'size': 255},
  {'name': 'StateChange', 'type': 'utc', 'size': 4},
  {'name': 'FirstOccurrence', 'type': 'utc', 'size': 4},
  {'name': 'LastOccurrence', 'type': 'utc', 'size': 4},
  {'name': 'RowSerial', 'type': 'integer', 'size': 4}],
 'rows': [{'Identifier': 'Startup@sol9-build1',
   'Serial': 12469,
   'Node': 'sol9-build1',
   'NodeAlias': '',
   'AlertKey': '',
   'Severity': 0,
   'Summary': 'ObjectServer NCOMS on sol9-build1 started at Wed Jul 04 15:27:57 2012',
   'StateChange': 1341412082,
   'FirstOccurrence': 1341411978,
   'LastOccurrence': 1341412077,
   'RowSerial': 12469},
  {'Identifier': 'ProfilerEnableToggle@NCOMS:sol9-build1',
   'Serial': 12468,
   'Node': 'sol9-build1',
   'NodeAlias': '',
   'AlertKey': '',
   'Severity': 0,
   'Summary': 'ObjectServer NCOMS Profiler enabled at Wed Jul 04 15:27:56 2012',
   'StateChange': 1341412077,
   'FirstOccurrence': 1341411976,
   'LastOccurrence': 1341412076,
   'RowSerial': 12468},
  {'Identifier': 'Shutdown@sol9-build1', 'RowSerial': 12519}],
 'affectedRows': 13}

In [16]:
json_payload['rowset'].keys()

dict_keys(['osname', 'dbname', 'tblname', 'coldesc', 'rows', 'affectedRows'])

In [17]:
json_payload['rowset']['coldesc']

[{'name': 'Identifier', 'type': 'string', 'size': 255},
 {'name': 'Serial', 'type': 'integer', 'size': 4},
 {'name': 'Node', 'type': 'string', 'size': 64},
 {'name': 'NodeAlias', 'type': 'string', 'size': 64},
 {'name': 'AlertKey', 'type': 'string', 'size': 255},
 {'name': 'Severity', 'type': 'integer', 'size': 4},
 {'name': 'Summary', 'type': 'string', 'size': 255},
 {'name': 'StateChange', 'type': 'utc', 'size': 4},
 {'name': 'FirstOccurrence', 'type': 'utc', 'size': 4},
 {'name': 'LastOccurrence', 'type': 'utc', 'size': 4},
 {'name': 'RowSerial', 'type': 'integer', 'size': 4}]

In [18]:
coldescdata = pd.DataFrame(json_payload['rowset']['coldesc'])

In [19]:
coldescdata

               name     type  size
0        Identifier   string   255
1            Serial  integer     4
2              Node   string    64
3         NodeAlias   string    64
4          AlertKey   string   255
5          Severity  integer     4
6           Summary   string   255
7       StateChange      utc     4
8   FirstOccurrence      utc     4
9    LastOccurrence      utc     4
10        RowSerial  integer     4

# 2. How can you convert a dictionary to Pandas DataFrame?

In [20]:
name= ["Nike", "Ola"]
level= ["4", "5"]
year= ["2000", "2019"]
Sex= ["F", "M"]
Age= ["29", "32"]
Employee= {'name': name, 'Level': level, 'Year': year, 'Sex': Sex, 'Age': Age}
Employee_df= pd.DataFrame(Employee)

In [21]:
Employee_df

   name Level  Year Sex Age
0  Nike     4  2000   F  29
1   Ola     5  2019   M  32